<form>
  <div class="row">
    <div class="card center-relative">
      <div class="center-relative">

        <h1 class="blue_font">Frequently asked questions</h1>
        <br>

        <clr-tree-node class="question_font">
          How do I add a new question?

          <clr-tree-node class="answer_font">
            To add a new question go to app settings and press "Manage Questions" button. </clr-tree-node>
        </clr-tree-node>
        <br>
        <hr>
        <br>
        <clr-tree-node class="question_font">
          Can I insert pictures in my FAQ?
          <clr-tree-node class="answer_font">Yes! To add a picture follow these simple steps:
            <br>
            1. Enter App Settings
            <br>
            2. Click the "Manage Questions" button
            <br>
            3. Click on the question you would like to attach a picture to
            <br>
            4. When editing your answer, click on the picture icon and then add an image from your library
          </clr-tree-node>
        </clr-tree-node>
        <br>
        <hr>
        <br>
        <clr-tree-node class="question_font">
          Can I insert a video in my FAQ?
          <clr-tree-node class="answer_font">
            1. Enter App Settings
            <br>
            2. Click the "Manage Questions" button
            <br>
            3. Click on the question you would like to attach a video to
            <br>
            4. When editing your answer, click on the video icon and then paste the YouTube or Vimeo video URL
            <br>
            5. That's it! A thumbnail of your video will appear in answer text box
          </clr-tree-node>
        </clr-tree-node>
        <br>
        <hr>
        <br>
        <clr-tree-node class="question_font">
          How do I edit or remove the "FAQ title"?
          <clr-tree-node class="answer_font">
            The FAQ title can be adjusted in the settings tab of the App Settings. You can also remove the title by unchecking its checkbox in the settings tab.
          </clr-tree-node>

        </clr-tree-node>
        <br>
        <hr>

      </div>
    </div>
  </div>
</form>