<!-- footer -->
<section id="footer" class="flex-items-xs-bottom">
  <div class="container">
    <div class="row">

      <div id="left" class="col-md-5">
        <div class="padd-b-10">
          <a href="https://www.addlevel.se" target="_blank"><img src="../../images/addlevel_logo3.svg" width="130px" height="70px" alt="footer logo"></a>
        </div>
        <p>Clarity Theme posuere fermentum libero quis porta. Fusce leo urna, efficitur quis rhoncus sit amet, placerat a nibh. Curabitur tincidunt vulputate augue, non rhoncus nibh mollis et.</p>
        <p>Pellentesque posuere fermentum libero quis porta. Fusce leo urna, efficitur quis rhoncus sit amet, placerat a nibh.</p>
        <a href="#">Read More</a>
      </div>

      <div id="center" class="col-md-4">
        <h4>Sitemap</h4>
        <div class="separator"></div>
          <ul class="list-block">
            <li class="nav-item">
              <i class="fa fa-angle-right"></i>
              <a class="nav-link" href="#" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
              <i class="fa fa-angle-right"></i>
              <a class="nav-link" href="#" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="nav-item">
              <i class="fa fa-angle-right"></i>
              <a class="nav-link" href="#" [routerLink]="['/about']">About</a>
            </li>
            <li class="nav-item">
              <i class="fa fa-angle-right"></i>
              <a class="nav-link" href="#" [routerLink]="['/contact']">Contact</a>
            </li>
            <li class="nav-item">
              <i class="fa fa-angle-right"></i>
              <a class="nav-link" href="#" [routerLink]="['/qna']">Q&A</a>
            </li>
          </ul>
      </div>

      <div id="right" class="col-md-3">
        <h4>Social Media</h4>
        <div class="separator"></div>
        <ul class="list-block">
          <li>
            <a href="#">Github</a>
          </li>
          <li>
            <a href="#">Facebook</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
          <li>
            <a href="#">LinkedIn</a>
          </li>
          <li>
            <a href="#">Youtube</a>
          </li>
        </ul>
      </div>

    </div> <!-- .Row END-->
  </div> <!-- Container END-->
</section>