<form>
  <div class="row">
    <div class="card center-relative">
      <div class="center-relative">
        <label class="center-div"><h1>Contact Us</h1></label>
        <section class="form-block">

          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="gForm_1">Name</label>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" type="text" id="gForm_1" size="45">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="gForm_1">Email</label>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" type="text" id="gForm_1" size="45">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="gForm_1">Subject</label>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" type="text" id="gForm_1" size="45">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
              <label for="gForm_4">Message</label>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
              <textarea id="gForm_4" rows="5" class="form-control"></textarea>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </section>

      </div>
    </div>
  </div>
</form>