<!DOCTYPE html>
<html>

<head>
  <link "stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
<style>

</style>
<div class="jumbotron">
  <div class="container">
    <h1>AddLevel AB</h1>
    <p>We are Swedish IT and Management consulting agency that helps companies to restructure their cyber security systems. </p>
    <a href="#">Learn More</a>
  </div>
</div>
<div class="about-page">
  <div class="container">
    <h2>About</h2>
    <p>Here should be explanation about questionaire.</p>
    <div class="row">
      <div class="col-md-4">

        <i class="glyphicon glyphicon-cloud" style="font-size:72px; color: white;"></i>
        <p style="color: black;font-family:'Shift';">Text about Part 1</p>
        <div class="thumbnail">
          <img src="#">
        </div>
      </div>
      <div class="col-md-4">
        <i class="glyphicon glyphicon-envelope" style="font-size:72px; color: white"></i>
        <p style="color: black;font-family:'Shift';">Text about Part 2</p>
        <div class="thumbnail">
          <img src="#">
        </div>
      </div>
      <div class="col-md-4">
        <i class="glyphicon glyphicon-search" style="font-size:72px; color: white;"></i>
        <p style="color: black;font-family:'Shift';">Text about Part 2</p>
        <div class="thumbnail">
          <img src="#">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Products</h3>
        <p>In this section you can find detailed information about our products and services.</p>
        <p><a href="#">See more.</a></p>
      </div>
      <div class="col-md-4">
        <h3>Trust and Safety</h3>
        <p>We care about your security...</p>
        <p><a href="#">Learn about trust at Addlevel.</a></p>
      </div>
      <div class="col-md-4">
        <h3>FAQ</h3>
        <p>In this seciton you can find answers to the most frequent questions.</p>
        <p><a href="#">See more.</a></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
